#footer > div:first-child {
    height: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#footer > div:last-child {
    height: 35px;
}

#footer > div img {
    max-height: 10px;
}

#footer .multiple-bg {
    background-size: 100px 100%;
    background-position: center;
}
